.izenda .navbar {
  border-bottom: 1px solid #ddd;
}

/* Izenda logo styles */

.iz-navbar-logo {
  width: 200px;
  height: 60px;
  display: block;
  background: url('../images/Izenda.png') no-repeat 0 5px;
}

@media (max-width: 1023px) and (min-width: 769px) {
  .iz-navbar-logo {
    width: 40px;
    background: url('../images/IzendaSmall.png') no-repeat 0 5px;
  }
}

/* Search button */

.izenda .iz-search-btn > li > a {
  background-color: #fff;
}

  .izenda .iz-search-btn > li > a:hover,
  .izenda .iz-search-btn > li > a:focus {
    color: #0d70cd;
    border-top: 4px solid #fff;
    background-color: #fff;
    border-bottom: 4px solid #fff;
  }

/* Search panel */

.izenda .iz-search {
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
}

#searchInput {
  padding: 3px;
  padding-left: 26px;
  margin-left: 0px;
  clear: both;
  margin-top: 10px;
}

#searchIcon {
  position: absolute;
  top: 20px;
  color: #666;
  left: 10px;
}

@media (max-width: 767px) {
  #izendaNavBarSearchBtn {
    display: none !important;
    visibility: hidden !important;
    text-align: center;
  }

  #searchInput {
    width: 95%;
    margin: 0px 10px;
    padding: 3px;
    padding-left: 26px;
  }

  #searchIcon {
    top: 10px;
    left: 20px;
  }

  #izendaNavBarSearch {
    display: block !important;
    visibility: visible !important;
  }
}

/* Free trial button */

.izenda .iz-free-trial > li > a {
  padding: 7px 15px;
  color: #fff;
  background-color: orange;
  border: 1px solid rgb(238, 162, 54);
}

  .izenda .iz-free-trial > li > a:hover,
  .izenda .iz-free-trial > li > a:focus {
    background-color: orange;
    border: 1px solid rgb(238, 162, 54);
  }

@media (max-width: 767px) {
  .izenda .iz-free-trial > li > a {
    width: 95%;
    margin: 0px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .izenda .iz-free-trial > li > a {
    display: none;
  }
}

@media (min-width: 768px) {
  .izenda .iz-free-trial > li > a {
    top: 15px;
    margin-right: 15px;
  }
}
