<script id="izendaFooterTemplate" type="text/x-jsrender">
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="footer-item">Copyright 2014. Izenda, LLC. All rights Reserved.</div>
        </div>
        <div class="col-md-6 col-sm-6 text-right">
          <div class="footer-item">
            <ul class="footer-icons list-inline list-unstyled">
              <li><a class="glyphicon glyphicon-social glyphicon-social-1"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-2"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-3"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-4"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-5"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-6"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-7"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-8"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-9"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-10"></a></li>
              <li><a class="glyphicon glyphicon-social glyphicon-social-11"></a></li>
              <li><a class="glyphicon glyphicon-arrow-up glyphicon-up" href="#top"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</script>
