<script id="izendaFooterTemplate" type="text/x-jsrender">
  <div class="container-fluid">
  <div class="row text-center bottom-background">
    <div class="col-md-12">
      <h2>See For Yourself</h2>
      <h3>Get started with Izenda today!</h3>
      <br />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br />
      <form role="form" id="form" action="#" method="post">
        <ul class="list-unstyled">
          <li>
            <div class="form-group">
              <label for="First Name">First Name</label>
              <input type="text" class="form-control text-adjust" minlength="2" id="first-name" placeholder="Enter First Name" required />
            </div>
          </li>
          <li>
            <div class="form-group">
              <label for="Last Name">Last Name</label>
              <input type="text" class="form-control text-adjust" minlength="2" id="last-name" placeholder="Enter Last Name" required />
            </div>
          </li>
          <li>
            <div class="form-group">
              <label for="Phone Number">Phone Number</label>
              <input type="text" class="form-control text-adjust" required minlength="10" id="phone-number" placeholder="xxx-xxx-xxxx or xxxxxxxxxxx" required />
            </div>
          </li>
          <li class="text-adjust">
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" class="form-control text-adjust" name="email" id="email" placeholder="Email goes here" required />
            </div>
          </li>
          <div class="form-group">
            <label for="Company URL">Company URL</label>
            <input type="url" class="form-control text-adjust" name="company-url" id="company-url" placeholder="http://www.example.com" required />
          </div>
        </ul>
        <h2 class="hidden center-block text-center" id="loading-text">...Please wait while we process this request...</h2>
        <button type="submit" value="Submit" class="btn btn-lg center-block" id="submit">Submit</button>
        <br />
        <p class="block-center text-center">We respect your <a href="http://www.izenda.com/Site/Pages/Privacy.aspx"><span>privacy!</span></a></p>
      </form>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 top-background text-center change-top-background-margin">
      <br />
      <ul class="list-unstyled list-inline" id="footer-nav-list">
        <li>
          <a href="https://izenda.github.io/web-marketing/NewWebsite/index.html">Home |</a>
        </li>
        <li>
          <a href="http://izenda.github.io/web-marketing/reports.html?tc=reports">Products |</a>
        </li>
        <li>
          <a href="http://www.izenda.com/site/Pages/Gallery.aspx">Gallery |</a>
        </li>
        <li>
          <a href="http://izenda.github.io/web-marketing/about.html?tc=company">Company |</a>
        </li>
        <li>
          <a href="http://wiki.izenda.us/Home">Wiki |</a>
        </li>
        <li>
          <a href="http://blog.izenda.com">Blog |</a>
        </li>
        <li>
          <a href="http://izenda.github.io/web-marketing/contacts.html">Contact Us</a>
        </li>
      </ul>
      <br />
      <h3 class="media-the-footer">Sales: 678-500-9136, Support: 404-906-8710 - 1200 Lake Hearn Dr. STE 475 Atlanta, GA 30319</h3>
      <br />
      <h4 class="media-the-footer-2">Copyright 2014, IZENDA, LLC. All Rights Reserved</h4>
      <br />
      <ul class="list-unstyled list-inline">
        <li>
          <a id="linkedIn" href="https://www.linkedin.com/company/izenda">
            <img src="img/footer/linkedin.png"/>
          </a>
        </li>
        <li>
          <a id="facebook" href="https://www.facebook.com/pages/Izenda/168642269874461">
            <img src="img/footer/facebook.png"/></a>
        </li>
        <li>
          <a id="twitter" href="https://twitter.com/Izenda">
            <img src="img/footer/twitter.png" />
          </a>
        </li>
        <li>
          <a id="googleplus" href="https://plus.google.com/104341053395991821202/posts">
            <img src="img/footer/google-plus.png" />
          </a>
        </li>
      </ul>
      
      <div class="back-to-top hidden-sm hidden-xs">
        <a class="glyphicon glyphicon-chevron-up" title="Back to top" href="#"></a>
      </div>
    </div>
  </div>
</div>
</script>
