 <div class="col-md-12" id="partners-list">
      <ul class="list-unstyled list-inline text-center">
        <li>
          <a href="#">
            <img src="img/footer/microsoft-gold-certified-partner.png" class="img-responsive" alt="partnerPic1" /></a>
        </li>
        <li>
          <a href="#">
            <img src="img/footer/microsoft-bizspark-network-partner.png" class="img-responsive" alt="partnerPic2" /></a>
        </li>
        <li>
          <a href="#">
            <img src="img/footer/tag-top-10-innovative-company.png" class="img-responsive" alt="partnerPic3" /></a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-background text-center change-top-background-margin">
    <br />
    <ul class="list-unstyled list-inline" id="footer-nav-list">
      <li>
        <a href="https://izenda.github.io/web-marketing/NewWebsite/index.html">Home |</a>
      </li>
      <li>
        <a href="http://izenda.github.io/web-marketing/reports.html?tc=reports">Products |</a>
      </li>
      <li>
        <a href="http://www.izenda.com/site/Pages/Gallery.aspx">Gallery |</a>
      </li>
      <li>
        <a href="http://izenda.github.io/web-marketing/about.html?tc=company">Company |</a>
      </li>
      <li>
        <a href="http://wiki.izenda.us/Home">Wiki |</a>
      </li>
      <li>
        <a href="http://blog.izenda.com">Blog |</a>
      </li>
      <li>
        <a href="http://izenda.github.io/web-marketing/contacts.html">Contact Us</a>
      </li>
    </ul>
    <br />
    <h3 class="media-the-footer">Sales: 678-500-9136, Support: 404-906-8710 - 1200 Lake Hearn Dr. STE 475 Atlanta, GA 30319</h3>
    <br />
    <h4 class="media-the-footer-2">Copyright 2014, IZENDA, LLC. All Rights Reserved</h4>
    <br />
      <ul class="list-unstyled list-inline fa-ul">
        <li>
          <a id="linkedIn" href="https://www.linkedin.com/company/izenda"><i class="fa fa-linkedin fa-3x"></i></a>
        </li>
        <li>
          <a id="facebook" href="https://www.facebook.com/pages/Izenda/168642269874461"><i class="fa fa-facebook fa-3x"></i></a>
        </li>
        <li>
          <a id="twitter" href="https://twitter.com/Izenda"><i class="fa fa-twitter fa-3x"></i></a>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <a id="back-to-top" href="#top"><i class="fa fa-chevron-up fa-3x"></i></a>
        </div>
      </div>
    </div>
  </div>

