<script id="izendaHeaderTemplate" type="text/x-jsrender">
  <header class="iz-header">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-left iz-toggle-nav" data-toggle="collapse" data-target="#izNavBar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button id="izSearchBtnMobile" type="button" class="navbar-toggle pull-right">
          <strong class="glyphicon glyphicon-search"></strong>
        </button>
        <button id="izTryItFreeButton" type="button" class="navbar-toggle iz-try-it-free">TRY IT FREE</button>
        <button id="izContactsChatButton" type="button" class="navbar-toggle iz-contact-button">
          <img src="img/header/ChatBox30.png" id="Img9" alt="chat" />
        </button>
        <button id="izContactsEmailButton" type="button" class="navbar-toggle iz-contact-button">
          <img src="img/header/Email30.png" id="Img8" alt="email" />
        </button>
        <button id="izContactsPhoneButton" type="button" class="navbar-toggle iz-contact-button">
          <img src="img/header/Phone30.png" id="Img7" alt="phone" />
        </button>
        <input id="izNavBarSearchMobile" class="form-control hidden pull-right" type="search" name="search" value="" placeholder="Search" />
        <span class="iz-navbar-logo" title="Izenda Reports" onclick="location.href='index.html';" style="cursor: pointer;"></span>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="izNavBar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-default">
          <li class="dropdown iz-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" tc="reports" onclick="location.href='#'">PRODUCTS <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="reports.html">IZENDA REPORTS</a></li>
              <li><a href="reports-mvc.html">IZENDA REPORTS FOR MVC</a></li>
              <li><a href="dashboards.html">IZENDA DASHBOARDS</a></li>
              <li><a href="maps.html">IZENDA MAPS</a></li>
              <li><a href="language-pack.html">IZENDA LANGUAGE PACK</a></li>
              <li><a href="fusion.html">IZENDA FUSION</a></li>
              <li><a href="forms.html">IZENDA FORMS</a></li>
              <li><a href="vision.html">IZENDA VISION</a></li>
            </ul>
          </li>
          <li class="iz-menu">
            <a class="modalbox" href="#inline" tc="#pricing" data-toggle="modal" data-target="#izendaPricingDialog">PRICING</a>
          </li>
          <li class="iz-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" tc="company" onclick="location.href='#'">COMPANY <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="management-team.html">MANAGEMENT TEAM</a></li>
              <li><a href="clients.html">OUR CUSTOMERS</a></li>
              <li><a href="careers.html">CAREERS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </li>
          <li class="iz-menu"><a href="gallery.html" tc="gallery.html">GALLERY</a></li>
          <li class="iz-menu"><a href="http://wiki.izenda.us" tc="wiki.izenda.us">WIKI</a></li>
          <li class="iz-menu"><a href="http://blog.izenda.com/" tc="blog.izenda.com">BLOG</a></li>
        </ul>
        <ul id="izNavBarSearch" class="nav navbar-nav navbar-right iz-search hidden">
          <li>
            <strong id="izSearchIcon" class="icon-search"></strong>
            <input id="izSearchInput" class="form-control" type="search" name="search" value="" placeholder="Search" />
          </li>
        </ul>
        <ul id="izNavBarSearchBtn" class="nav navbar-nav navbar-right iz-search-btn">
          <li>
            <a id="izSearchBtn" href="#" title="Search"><strong class="glyphicon glyphicon-search"></strong></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right iz-free-trial">
          <li><a id="izFreeTrialButton" class="btn btn-warning" href="#from-try-it-free">TRY IT FREE</a></li>
        </ul>
        <div class="iz-header-button-list-main">
          <a href="contact.html">
            <img src="img/header/Phone30.png" id="Img4" alt="phone" /></a>
          <a href="mailto:sales@izenda.com"><img src="img/header/Email30.png" id="Img5" alt="email" /></a>
          <a href="#" onclick="SnapEngage.startLink();"><img src="img/header/ChatBox30.png" id="Img6" alt="chat" /></a>
        </div>
      <!-- /.navbar-collapse -->
      </div>
    </nav>

    <!-- Pricing dialog -->
    <div class="modal fade" id="izendaPricingDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header center-block text-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><b>You will be contacted within 24 hours by an Izenda sales representative to provide a quote for you.</b></h4>
            <h4> Feel free to contact us before then at 1-888-493-6321 or <a href="mailto:sales@izenda.com">sales@izenda.com</a>. Thank you!</h4>
          </div>
          <div class="modal-body">
          <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" role="form" id="pricing-form">
            <input type="hidden" name="oid" value="00D70000000Ic28">
            <input type="hidden" name="retURL" value="http://www.izenda.com/bi/ReportListIntro.aspx">
            <input  id="00N70000001oGf6" name="00N70000001oGf6" type="hidden" value="1" />
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" id="pricing-first-name" name="first_name" placeholder="" required  minlength="2" />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" id="pricing-last-name" name="last_name" placeholder="" required minlength="4" />
            </div>
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" class="form-control required" id="pricing-email" name="email" placeholder="" required />
            </div>
            <div class="form-group">
              <label for="Phone">Phone</label>
              <input type="text" class="form-control required" id="pricing-phone" name="phone" placeholder="xxx-xxx-xxxx or xxxxxxxxxx" required minlength="10" maxlength="13" />
            </div>
            <div class="form-group">
              <label for="Company Url">Company URL</label>
              <input type="url" class="form-control required" id="pricing-company-url" name="company" placeholder="http://www.example.com" required />
            </div>
            <input  id="00N700000034Qxz" maxlength="255" name="00N700000034Qxz" size="20" type="hidden" value="Keyword"/>
            <input  id="00N40000001IMeh" maxlength="255" name="00N40000001IMeh" size="20" type="hidden" value="Pricing" />
            <h2 class="hidden center-block text-center" id="pricing-loading-text">...Please wait while we process this request...</h2>
            <div class="text-center center-block">
              <button type="submit" value="Submit" id="pricing-submit" class="btn btn-lg">Submit</button>
              <br/>
              <br />
              <p class="center-block">We respect your <a href="privacy.html">privacy</a></p>
            </div>
           </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <button id="izTryItFreeButton2" type="button" class="navbar-toggle iz-try-it-free">TRY IT FREE</button>
      </div>
      
    </div>
    </div>
  </header>
</script>
