<script id="izendaMediaViewerTemplate" type="text/x-jsrender">
  <div id="mediaViewerModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <input type="hidden" id="content-type" name="data-type" value="" />
    <input type="hidden" id="content-url" name="data-val" value="" />
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="mediaViewerHeader" class="modal-title">&nbsp;</h4>
        </div>
        <div class="modal-body text-center">
          ...
        </div>
      </div>
    </div>
  </div>
</script>
