<script id="izendaFooterTemplate" type="text/x-jsrender">
  <div class="container-fluid">
   <div class="row text-center" style="background-color: #c5e0f1">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h2 style="font-weight: bold;">See For Yourself</h2>
      <h3 style="font-weight: bold; color: #2776ad;">Get started with Izenda today!</h3>
      <br />
    </div>
  </div>
  <br />
  <a id="from-try-it-free"></a>
   <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <br />
       <form id="footer-form" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" role="form">
            <input type="hidden" name="oid" value="00D70000000Ic28">
            <input type="hidden" name="retURL" value="http://www.izenda.com/bi/ReportListIntro.aspx">
            <input  id="00N70000001oGf6" name="00N70000001oGf6" type="hidden" value="1" />
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control required" id="footer-first-name" name="first_name" placeholder="" required  minlength="2" />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control required" id="footer-last-name" name="last_name" placeholder="" required minlength="4" />
            </div>
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" class="form-control required" id="footer-email" name="email" placeholder="" required />
            </div>
            <div class="form-group">
              <label for="Phone">Phone</label>
              <input type="text" class="form-control required" id="footer-phone" name="phone" placeholder="xxx-xxx-xxxx or xxxxxxxxxx" required minlength="10" maxlength="10" />
            </div>
            <div class="form-group">
              <label for="Company Url">Company URL</label>
              <input type="url" class="form-control required" id="footer-company-url" name="company" placeholder="http://example.com" required />
            </div>
            <input  id="00N700000034Qxz" maxlength="255" name="00N700000034Qxz" size="20" type="hidden" value="Keyword"/>
            <input  id="00N40000001IMeh" maxlength="255" name="00N40000001IMeh" size="20" type="hidden" value="Footer" />
            <h2 class="hidden center-block text-center" id="footer-loading-text">...Please wait while we process this request...</h2>
            <div class="text-center center-block">
              <button type="submit" value="Submit" id="footer-submit" class="btn btn-lg">Submit</button>
              <br/>
              <br />
              <p class="center-block">We respect your <a href="privacy.html">privacy</a></p>
            </div>
           </form>
          </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-background text-center change-top-background-margin">
      <br />
      <ul class="list-unstyled list-inline" id="footer-nav-list">
        <li>
          <a href="index.html">Home</a>  |
        </li>
        <li>
          <a href="reports.html">Products</a>  |
        </li>
        <li>
          <a href="gallery.html">Gallery</a>  |
        </li>
        <li>
          <a href="about.html">Company</a>  |
        </li>
        <li>
          <a href="http://wiki.izenda.us/Home">Wiki</a> |
        </li>
        <li>
          <a href="http://blog.izenda.com">Blog</a>  |
        </li>
        <li>
          <a href="contact.html">Contact Us</a>  |
        </li>
      </ul>
      <br />
      <h5 class="media-the-footer" style="font-family: "Lato",sans-serif;">Sales: 678-500-9136, Support: 404-906-8710 - 1200 Lake Hearn Dr. STE 475 Atlanta, GA 30319</h5>
      <br />
      <h5 class="media-the-footer-2" style="font-family: "Lato",sans-serif;">Copyright 2014, IZENDA, LLC. All Rights Reserved</h5>
      <br />
      <ul class="list-unstyled list-inline social-listing">
        <li>
          <a id="linkedIn" href="https://www.linkedin.com/company/izenda">
            <img src="img/footer/linkedin.png"/>
          </a>
        </li>
        <li>
          <a id="facebook" href="https://www.facebook.com/pages/Izenda/168642269874461">
            <img src="img/footer/facebook.png"/></a>
        </li>
        <li>
          <a id="twitter" href="https://twitter.com/Izenda">
            <img src="img/footer/twitter.png" />
          </a>
        </li>
        <li>
          <a id="googleplus" href="https://plus.google.com/104341053395991821202/posts">
            <img src="img/footer/google-plus.png" />
          </a>
        </li>
      </ul>
      <br />
      <p>For more information, please visit our <a href="http://wiki.izenda.us"><span style="color: #ffa500;"> wiki </span></a>
      </p>
      <div class="back-to-top hidden-sm hidden-xs">
        <a id="backToTopBtn" class="glyphicon glyphicon-chevron-up" title="Back to top" href="#"></a>
      </div>
    </div>
  </div>
</div>
</script>
