<!DOCTYPE html>
<div class="container">
  <ul class="list-unstyled list-inline">
    <li>
      <a id="linkedIn" href="https://www.linkedin.com/company/izenda">
        <img src="img/footer/linkedin.png"/>
      </a>
    </li>
    <li>
      <a id="facebook" href="https://www.facebook.com/pages/Izenda/168642269874461">
        <img src="img/footer/facebook.png"/></a>
    </li>
    <li>
      <a id="twitter" href="https://twitter.com/Izenda">
        <img src="img/footer/twitter.png" />
      </a>
    </li>
    <li>
      <a id="googleplus" href="https://plus.google.com/104341053395991821202/posts">
        <img src="img/footer/google-plus.png" />
      </a>
    </li>
  </ul>
</div>
