 style="margin-bottom: -200px;"/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*amelia works on stuff*/
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Izenda Custom Styles
   ========================================================================== */
* {
  margin: 0px;
}

html, body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Lato", sans-serif;
}

/* For sticky footer, wrap page in manipulative*/

.page-wrap {
  min-height: 100%;
}

.page-wrap:after {
  content: "";
  display: block;
}

.intro-content h3 {
  position: relative;
  top: -30px;
}

.site-footer, .page-wrap:after {
}

.why-izenda-text {
  position: relative;
  left: 10px;
}

.slight-move-left {
  position: relative;
  right: 5px;
}

.slight-move-right {
  position: relative;
  left: 5px;
}

/* Primary image display for itertive function--not in iteration 1 */
#img-display {
  display: none;
  width: 565px;
  height: 550px;
}

.logos {
  width: 100%;
  height:140px;
  background: url('../img/full-spectrum-analitycs/logos.jpg') no-repeat 50% 0;
  background-size: contain;
}

/* Content elements Visual, Operational, etc */

/* Gray color around content elements--rows*/

.alt-back-color {
  background-color: #f8f8f8;
}

.break-push-down {
  position: relative;
  top: 10px;
  z-index: 5;
}

.move-me-up {
  position: relative;
  bottom: 75px;
}

.display-position {
  width: 400px;
  font-size: 20px;
  font-weight: bold;
}

.not-so-big-font {
  font-size: 24px;
}

.big-font {
  font-size: 32px;
}

#slight-pull-up {
  position: relative;
  bottom: 22px;
}

/* image behind main display */

#primary-background {
  padding-top: 42px;
  background: url(../img/main/izenda-ad-hoc-reporting.jpg) center no-repeat;
}

/* Responsive video embed set-up */

.video-container {
  position: relative;
  padding-bottom: 68%;
  padding-top: 35px;
  overflow: hidden;
  background-color: transparent;
}

/* Picture columns*/

.pic-list {
  margin-top: 75px;
}

.pic-list img {
  -webkit-box-shadow: 0 0 10px 2px gray;
  -moz-box-shadow: 0 0 10px 2px gray;
  box-shadow: 0 0 10px 2px gray;
}

.pic-list img:hover {
  -webkit-box-shadow: 0 0 10px 6px gray;
  -moz-box-shadow: 0 0 10px 6px gray;
  box-shadow: 0 0 10px 6px gray;
}

/* Welcome content beneath spotlight video */

#intro-content {
  position: relative;
  bottom: 15px;
}

#logo {
  min-width: 250px;
}

#try-it-free {
  background-color: #ffa500;
  height: 60px;
  width: 240px;
  color: black;
  position: relative;
  bottom: 30px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 28px;
  border: 1px solid #332d25;
  z-index: 2;
}

#try-it-free:hover {
  background-color: #fcbd02;

}

/* Dark blue stripe */

.bottom-background {
  background-color: #74b3de;
}

/* Light blue stripe */

.top-background {
  margin-top: 20px;
  background-color: #0061a0;
  color: white;
}

.change-top-background-margin {
  margin: 0px !important;
}

.light-font {
  color: #74b3de;
}

.dark-font {
  color: #0061a0;
}

/* button colors & other stuff*/

.description-text {
  width: 400px;
  font-size: 18px;
  font-style: italic;
}

.btn {
  min-width: 80px;
  font-family: "Lato", sans-serif;
  border-radius: 0px 0px;
}

.btn-info-size {
  font-size: 32px;
  -moz-box-shadow: 0px 5px 20px 1px #c7cee0;
  -webkit-box-shadow: 0px 5px 20px 1px #c7cee0;
  box-shadow: 0px 5px 20px 1px #c7cee0;
}

#btn-traditional {
  background-color: #fe0000;
  color: white;
}

#btn-operational {
  background-color: #f54e00;
  color: white;
}

#btn-analytical {
  background-color: #fece00;
  color: white;
}

#btn-flexible {
  background-color: #53c400;
  color: white;
}

#btn-experimental {
  background-color: #00a0b8;
  color: white;
}

#btn-interactive {
  background-color: #005dff;
  color: white;
}

#btn-visual {
  background-color: #7b1aff;
  color: white;
}

#btn-global {
  background-color: #b030ff;
  color: white;
}

/* positioning of data elements */

.text-push-down {
  position: relative;
  top: 50px;
}

.pic-pull-up {
  position: relative;
  bottom: 165px;
}

.divide-content {
  position: relative;
  bottom: 165px;
}

.sectional-move {
  position: relative;
  bottom: 177px;
}

@media (max-width: 767px) {
  .sectional-move {
    position: relative;
    bottom: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sectional-move {
    position: relative;
    top: 600px;
   }
}

/* Specific divisions */

#operational-divider {
  position: relative;
  bottom: 340px;
}

#analytical-divider {
  position: relative;
  bottom: 350px;
}

#interactive-adjustments {
  position: relative;
  bottom: 102px;
  margin-bottom: -50px;
}

/* Description text properties */

.description-list {
  padding-left: 15px;
  font-size: 14px;
  font-style: normal;
}

.description-list:before {
  content: '\f111';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  display: inline-block;
  margin-right: 8px;
  font-size: 22px;
  color: #74b3de;
  }

/* Specific photo adjustments */

#operational-pull-up {
  position: relative;
  bottom: 200px;
}

#analytical-pull-up {
  position: relative;
  bottom: 130px;
}

#flexible-pull-up {
  position: relative;
  bottom: 240px;
}

#partners-list {
  background-color: #EBEBEB;
  height: 120px;
}

/* Gallery styles */
#portfolio-list,
#portfolio-filter {
  list-style: none;
  margin-top: 30px;
}

  #portfolio-list .block {
    width: 25%;
    height: 180px;
    margin: 0px;
    overflow: hidden;
  }

  #portfolio-filter a {
    color: #656870;
  }

    #portfolio-filter a:hover {
      color: #9a9eab;
    }

  #portfolio-filter .active a {
    background-color: #005dff;
    color: #fff;
    box-shadow: none;
  }

.portfolio-image {
  width: 95%;
  height: 90%;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  margin: 10px;
}

/* Clients speak section for responsive */

#form {
  max-width: 100%;
  border: 1px solid #d3d3d3;
  padding: 20px;
  z-index: 3;
}

#form-shadow {
  position: relative;
  left: 320px;
  bottom: .5px;
  overflow: hidden;
  z-index: -1;
}

#submit {
  max-width: 100%;
  background-color: #ed8c01;
  color: white;
  font-weight: bold;
}

#submit:hover {
  opacity: .7;
  background-color: #fcbd02;
}

.img-circle {
  border-radius: 0% !important;
}

.btn-padding {
  margin-top: 60px;
}

#footer-nav-list > li > a {
  color: white;
}

#footer-nav-list > li > a:hover {
  color: gray;
}

#linkedIn {
  color: white;
}

#linkedIn:hover {
  opacity: .7;
}

#facebook {
  color: white;
}

#facebook:hover {
  opacity: .7;
}

#twitter {
  color: white;
}

#twitter:hover {
  opacity: .7;
}

#googleplus:hover {
  opacity: .7;
}

.back-to-top {
  position: fixed;
  bottom: 0px;
  right: 15px;
  z-index: 1002;
  font-size: 48px;
}

.back-to-top > a {
  color: #ddd;
  text-decoration: none;
}

.back-to-top > a:hover,
.back-to-top > a:focus {
  text-decoration: none;
}

#Rick, #Jess, #Scott {
  width: 240px !important;
  height: 240px !important;
}

#Rick {
  position: relative;
  left: 30px;
}

#Scott {
  position: relative;
  right: 30px;
}

.partner-pics {
  width: 150px;
  height: auto;
}

.img-features {
  margin-left: 34px;
  width: 80%;
  height: auto;
}

#pic-fix-me {
  margin-left: 39px !important;
}

#pic-fix-me-2 {
  margin-left: 30px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* New Design Styles */
.v-center {
  display:table !important;
}

.v-center > div {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.section-who-iz-izenda {
  margin-top: 62px;
  background: url('../img/company/Building.jpeg') no-repeat 0 0;
  background-size: 100%;
  color: #fff;
  height: 500px;
  position: relative;
}

.section-who-iz-izenda > .v-center {
  width: 100%;
  height: 500px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
}

.section-who-iz-izenda h1 {
  font-size: 72px;
}

.section-izenda-description {
  background-color: #ff5941;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
  min-height: 250px;
}

.section-izenda-contacts {
  background-color: #20cef0;
  color: #fff;
  font-weight: bold;
  min-height: 250px;
}

.section-izenda-contacts > .v-center {
  min-height: 250px;
  width: 100%;
}

.section-izenda-contacts a {
  margin: 10px;
}

.section-advantage {
  height: 300px;
  padding: 50px;
  color: #444;
  background-color: #f3f3f3;
}

.section-advantage-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  width: 100%;
}

.section-advantage > h4 {
  padding-bottom: 20px;
}

.block-mission {
  padding: 50px;
}

.block-mission-header {
  background-color: #ff5941;
  width: 100%;
  color: #fff;
  padding: 15px;
  text-align: left;
}

.block-mission-header.inactive {
  background-color: #f3f3f3;
  margin-top: 10px;
  color: #666;
  font-weight: bold;
}

.mission-icon {
  color: #fff;
  margin-right: 10px;
}

.mission-icon:hover {
  color: #fff;
  text-decoration: none;
}

.inactive .mission-icon {
  color: #666;
  margin-right: 10px;
}

.inactive .mission-icon:hover {
  color: #666;
  margin-right: 10px;
}

.block-mission-body {
  padding: 15px;
  border: 1px solid #ddd;
  color: #999;
  font-weight: bold;
  text-align: left;
}

.section-photo {
  background-color: #333;
}

.block-photo {
  background-size: 105% !important;
  position: relative;
}

.block-photo-desc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.block-photo-desc:hover {
  background-color: transparent;
}

.block-photo-desc-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
  font-weight: lighter;
}

.block-photo-sanjay {
  background: url('../img/company/sanjay-bhatia.jpg') no-repeat 0 0;
}

.block-photo-walden {
  background: url('../img/company/stephen-j-walden.jpg') no-repeat 0 0;
}

.block-photo-bernstein {
  background: url('../img/company/louie-bernstein.jpg') no-repeat 0 0;
}

.block-photo-ray {
  background: url('../img/company/ray-killebrew.jpg') no-repeat 0 0;
}

.izenda-section-reviews {
  background-color: #6b58cc;
  min-height: 400px;
  color: #fff;
}

.izenda-section-reviews > .v-center {
  min-height: 400px;
  width: 100%;
}

.review-icon {
  width: 100%;
  text-align: center;
}

.review-quote {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review-subquote {
  font-size: 16px;
}

.izenda-section-start-free-trial {
  background-color: #6b58cc;
  min-height: 200px;
  color: #fff;
  font-weight: lighter;
}

.izenda-section-start-free-trial > .v-center {
  min-height: 200px;
  width: 100%;
}

.izenda-start-free-trial-quote {
  font-size: 20px;
  font-weight: lighter;
}

.btn-free-start-trial {
  background-color: #6b58cc !important;
  margin-left: 50px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #fff;
  border-radius: 0;
}

.btn-free-start-trial:hover {
  border: 1px solid #fff;
}

/* style for pages */

.bg-colored {
  background: #0071bc;
  color: #fff;
  text-shadow: none;
  border: none;
}

.bg-white {
	background: #fff;
}

.first {
  padding-top: 62px;
}

.wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 20px 0;
  margin-bottom: 200px;
}

.wrapper2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 10px 0;
}

/* header */
.iz-article-title {
  font-size: 36px;
  height: 50px;
  font-weight: 300;
}

.iz-article-sub-title {
  font-size: 24px;
  height: 40px;
  font-weight: 300;
}

/* Youtube videos */
.iz-feature-embed-container {
  width: 100%;
  text-align: center;
}

.iz-feature-embed-container > embed {
  width: 100%;
  height: 100%;
}

div.code {
  font-family: Courier;
  font-size: 16px;
  font-weight: lighter;
  padding: 10px;
  background-color: #e0e1e2;
  border: 1px solid #ddd;
}

span.code {
  font-family: Courier;
  font-weight: lighter;
  background-color: #e0e1e2;
  border: 1px solid #ddd;
}

h3.subheader {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-container {
  padding-left: 200px;
}

.article-column {
  padding-left: 20px;
  padding-right: 20px;
}

.quote {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  padding: 10px;
  background-color: #e0e1e2;
  border: 1px solid #ddd;
}

.quote-author {
  font-size: 14px;
  padding-left: 40px;
  background-color: #e0e1e2;
}

.company {
  margin: 5px;
  width: 150px;
  height: 120px;
}

.company.bordered {
  outline: 1px solid #ddd;
}

p.text {
  text-indent: 20px;
}

.management-team-body {
  padding-left: 200px;
}

.management-team-body > p, .izenda-article > p {
  margin-top: 15px;
}

.client-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.client-logo-left {
  text-align: right;
  padding-right: 20px;
}

.contact-item {
  padding-left: 30px;
}

#clientsListContainer {
  width: 100%;
}

.carousel-control.left, .carousel-control.right {
  background: none;
  width: 40px;
}

.carousel-control:hover, .carousel-control:focus {
  color: #1A72BA;
}

.carousel {
  padding-left: 40px;
  padding-right: 40px;
}

.clientListLogoContainer {
  display: table-cell;
  padding: 5px;
}

.clientListLogo {
  width: 200px;
  height: 100px;
  border: 1px solid #ddd;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
  -webkit-background-size: 95% !important;
  -moz-background-size: 95% !important;
  -o-background-size: 95% !important;
  background-size: 95% !important;
}
  .clientListLogo:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }

.main-pic-overlay {
  position: absolute;
  top: -20px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.main-pic-overlay:hover {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-pic-overlay > .glyphicon {
  color: #fff;
  font-size: 72px;
  top: 40%;
}

/* FEATURES */

.izenda-feature {
  font-size: 20px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.izenda-feature .izenda-feature-description {
  max-width: 400px;
}

.izenda-feature-main-btn {
  margin-top: 80px;
  font-size: 32px;
  font-weight: bold;
  width: 400px;
}

.izenda-feature-image {
  margin-top: 80px;
}

.izenda-feature-description h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

.izenda-feature-description .izenda-feature-description-text {
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  text-align: justify;
}

.img-bottom {
  position: absolute;
  bottom: 0;
}