/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Izenda Custom Styles
   ========================================================================== */
html, body{
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -300px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 300px;
}

#img-display {
  display: none;
  width: 565px;
  height: 550px;
}

.alt-back-color {
  background-color: #f8f8f8;
}
.move-me-up {
  position: relative;
  bottom: 75px;
}

.not-so-big-font {
  font-size: 24px;
}

.big-font {
  font-size: 32px;
}

#slight-pull-up {
  position: relative;
  bottom: 22px;
}

.styled {
   background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
   background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
   background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
   background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#primary-background {
  padding-top: 42px;
  background: url(../img/main/izenda-ad-hoc-reporting.jpg) center no-repeat;
}

#main-vid {
  margin-top: 75px;

}

.pic-list {
  margin-top: 75px;
}

.pic-list img {
  -webkit-box-shadow: 0 0 10px 2px gray;
  -moz-box-shadow: 0 0 10px 2px gray;
  box-shadow: 0 0 10px 2px gray;
}

#intro-content {
  position: relative;
  bottom: 15px;
}

#logo {
  min-width: 250px;
}

#try-it-free {
  background-color: #fea500;
  height: 60px;
  width: 240px;
  color: black;
  position: relative;
  bottom: 10px;
  font: 28px bold;
  font-style: Arial;
  border: ridge black thin;
  z-index: 2;
}

#try-it-free:hover {
  opacity: .7;
}

.bottom-background {
  background-color: #74b3de;
}

.top-background {
  margin-top: 20px;
  background-color: #0061a0;
  color: white;
}

.change-top-background-margin {
  margin: 0px;!important
}

.light-font {
  color: #74b3de;
}

.dark-font {
  color: #0061a0;
}

/* Alignment fixes for pics */

#pic-fix-me {
  margin-left: 30px;
}

#pic-fix-me-2 {
  margin-left: 10px;
}

#pic-fix-me-3 {
  margin-left: 10px;
}

#pic-fix-me-4 {
  margin-left: 12px;
}

/* button colors & other stuff*/

.btn {
  min-width: 60px;
}

#btn-traditional {
  background-color: #fe0000;
  color: white;
}

#btn-operational {
  background-color: #f54e00;
  color: white;
}

#btn-analytical {
  background-color: #fece00;
  color: white;
}

#btn-flexible {
  background-color: #53c400;
  color: white;
}

#btn-experimental {
  background-color: #00a0b8;
  color: white;
}

#btn-interactive {
  background-color: #005dff;
  color: white;
}

#btn-visual {
  background-color: #7b1aff;
  color: white;
}

#btn-global {
  background-color: #b030ff;
  color: white;
}

/* positioning of data elements */

.text-push-down {
  position: relative;
  top: 50px;
}

.pic-pull-up {
  position: relative;
  bottom: 75px;
}

/* Specific photo adjustments */

#operational-pull-up, #analytical-pull-up {
  position: relative;
  bottom: 90px;
}

#flexible-pull-up {
  position: relative;
  bottom: 140px;
}

#partners-list {
  background-color: #EBEBEB;
}

/* Gallery styles */
#portfolio-list,
#portfolio-filter {
  list-style: none;
  margin-top: 30px;
}

  #portfolio-list .block {
    width: 250px;
    height: 180px;
    outline: 1px solid #ddd;
    margin: 10px;
    overflow: hidden;
  }

  #portfolio-filter a {
    box-shadow: 0px 0px 0px 2px #656870 inset;
    color: #656870;
  }

    #portfolio-filter a:hover {
      color: #9a9eab;
    }

  #portfolio-filter .active a {
    background-color: #005dff;
    color: #fff;
    box-shadow: none;
  }

.portfolio-image {
  height: 100%; 
  width: 100%;
  min-height: 200px;
  margin-bottom: 30px;
}

#form {
  min-width: 800px;
  border: solid gray 1px;
  padding: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.text-adjust {
  min-width: 350px;
}

#send {
  min-width: 760px;
  background-color: #ed8c01;
  color: white;
  font-weight: bold;
}

#send:hover {
  opacity: .7;
  background-color: #fcbd02;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* New Design Styles */
.v-center {
  display:table !important;
}

.v-center > div {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.section-who-iz-izenda {
  margin-top: 62px;
  background: url('../img/company/Building.jpeg') no-repeat 0 0;
  background-size: 100%;
  color: #fff;
  height: 500px;
  position: relative;
}

.section-who-iz-izenda > .v-center {
  width: 100%;
  height: 500px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
}

.section-who-iz-izenda h1 {
  font-size: 72px;
}

.section-izenda-description {
  background-color: #ff5941;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
  min-height: 250px;
}

.section-izenda-contacts {
  background-color: #20cef0;
  color: #fff;
  font-weight: bold;
  min-height: 250px;
}

.section-izenda-contacts > .v-center {
  min-height: 250px;
  width: 100%;
}

.section-izenda-contacts a {
  margin: 10px;
}

.section-advantage {
  height: 300px;
  padding: 50px;
  color: #444;
  background-color: #f3f3f3;
}

.section-advantage-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  width: 100%;
}

.section-advantage > h4 {
  padding-bottom: 20px;
}

.block-mission {
  padding: 50px;
}

.block-mission-header {
  background-color: #ff5941;
  width: 100%;
  color: #fff;
  padding: 15px;
  text-align: left;
}

.block-mission-header.inactive {
  background-color: #f3f3f3;
  margin-top: 10px;
  color: #666;
  font-weight: bold;
}

.mission-icon {
  color: #fff;
  margin-right: 10px;
}

.mission-icon:hover {
  color: #fff;
  text-decoration: none;
}

.inactive .mission-icon {
  color: #666;
  margin-right: 10px;
}

.inactive .mission-icon:hover {
  color: #666;
  margin-right: 10px;
}

.block-mission-body {
  padding: 15px;
  border: 1px solid #ddd;
  color: #999;
  font-weight: bold;
  text-align: left;
}

.section-photo {
  background-color: #333;
}

.block-photo {
  background-size: 105% !important;
  position: relative;
}

.block-photo-desc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.block-photo-desc:hover {
  background-color: transparent;
}

.block-photo-desc-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
  font-weight: lighter;
}

.block-photo-sanjay {
  background: url('../img/company/sanjay-bhatia.jpg') no-repeat 0 0;
}

.block-photo-walden {
  background: url('../img/company/stephen-j-walden.jpg') no-repeat 0 0;
}

.block-photo-bernstein {
  background: url('../img/company/louie-bernstein.jpg') no-repeat 0 0;
}

.block-photo-ray {
  background: url('../img/company/ray-killebrew.jpg') no-repeat 0 0;
}

.izenda-section-reviews {
  background-color: #6b58cc;
  min-height: 400px;
  color: #fff;
}

.izenda-section-reviews > .v-center {
  min-height: 400px;
  width: 100%;
}

.review-icon {
  width: 100%;
  text-align: center;
}

.review-quote {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review-subquote {
  font-size: 16px;
}

.izenda-section-start-free-trial {
  background-color: #6b58cc;
  min-height: 200px;
  color: #fff;
  font-weight: lighter;
}

.izenda-section-start-free-trial > .v-center {
  min-height: 200px;
  width: 100%;
}

.izenda-start-free-trial-quote {
  font-size: 20px;
  font-weight: lighter;
}

.btn-free-start-trial {
  background-color: #6b58cc !important;
  margin-left: 50px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #fff;
  border-radius: 0;
}

.btn-free-start-trial:hover {
  border: 1px solid #fff;
}
